"*":
  "SS-Orca-ui":
    layoutMode: "Compact"
  "autohide-tree-view":
    maxWidth: 150
    showOn: "hover + click"
    triggerAreaSize: 10
  core:
    disabledPackages: [
      "autohide-tree-view"
      "react"
      "linter-rubocop"
      "linter-jsonlint"
      "emmet"
      "language-elm"
      "language-fsharp"
      "language-rspec"
      "git-control"
      "bottom-dock"
      "fast-eslint"
      "linter-package-json-validator"
      "linter-write-good"
      "vim-mode"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      ".git"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/ngeslin/Documents/www/"
    telemetryConsent: "no"
    themes: [
      "ss-orca-ui"
      "ss-orca-syntax"
    ]
  docblockr:
    auto_add_method_tag: true
    extra_tags_go_after: true
    lower_case_primitives: true
  editor:
    fontSize: 11
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  emmet: {}
  "exception-reporting":
    userId: "dd53f269-1c01-911f-dd06-c480abce5c93"
  "file-icons":
    forceShow: true
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-selected": {}
  "js-hyperclick":
    extensions: [
      ".js"
      ".json"
      ".node"
      ".jsx"
    ]
  "language-babel":
    autoIndentJSX: false
  linter: {}
  "linter-eslint":
    disableEslintIgnore: true
    disableFSCache: true
    globalNodePath: "/Users/ngeslin/.node"
  "linter-rubocop":
    command: "/Users/ngeslin/.rvm/gems/ruby-2.2.2/bin/rubocop"
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "linter-ui-default":
    panelHeight: 115
    showPanel: true
  "linter-write-good": {}
  "markdown-preview":
    breakOnSingleNewline: true
  "merge-conflicts": {}
  "metro-ui":
    displayMode: "Compact"
    fullscreenStatusBar: true
    themeAccentColor: "#0763d8"
  minimap:
    independentMinimapScroll: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "highlight-selected": false
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "northem-dark-atom-ui": {}
  "one-dark-ui":
    layoutMode: "Compact"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments:
    mergeColorDuplicates: true
    sortPaletteColors: "by name"
  "project-manager":
    closeCurrent: true
    sortBy: "last modified"
  punchclock: {}
  react: {}
  "seti-ui":
    compactView: true
    disableAnimations: true
    fileIcons: false
  "spell-check": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "terminal-plus":
    core: {}
    style:
      defaultPanelHeight: "75px"
      fontSize: "10px"
  "todo-show":
    findTheseTodos: [
      "FIXME"
      "TODO"
      "CHANGED"
      "XXX"
      "IDEA"
      "HACK"
      "NOTE"
      "REVIEW"
      "deprecated"
      "DEPRECATED"
    ]
    ignoreThesePaths: [
      "**/node_modules/*"
      "**/build/*"
      "**/coverage/*"
      "**/.nyc_output/*"
      "**/*bundle.*"
    ]
    openListInDirection: "down"
    showInTable: [
      "File"
      "Text"
      "Type"
      "Line"
    ]
    sortBy: "Type"
    statusBarIndicator: true
  "travis-ci-status": {}
  "tree-view": {}
  "vim-mode": {}
  "vim-mode-plus":
    statusBarModeStringStyle: "long"
    stayOnDelete: true
    stayOnYank: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 7
    neverCloseDirty: true
    neverCloseNew: true
    neverCloseUnsaved: true
".babel.regexp.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".cake.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".coffee.jsx.source":
  editor:
    preferredLineLength: 120
".cs.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".css.source.styled":
  editor:
    preferredLineLength: 100
    tabLength: 4
".csx.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".html.ruby.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".ini.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.jsx.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.rails.source source.jquery.js":
  editor:
    preferredLineLength: 120
    tabLength: 4
".languagebabel.ttlextension":
  editor:
    preferredLineLength: 100
    tabLength: 4
".nant-build.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".puppet.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".rails.rjs.ruby.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".rails.ruby.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".rspec.ruby.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".ruby.source.sql":
  editor:
    preferredLineLength: 120
    tabLength: 4
