"*":
  "autohide-tree-view":
    maxWidth: 150
    showOn: "hover + click"
    triggerAreaSize: 10
  core:
    disabledPackages: [
      "travis-ci-status"
      "autohide-tree-view"
      "react"
      "linter-rubocop"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      "bower_components"
      "node_modules"
      "logs"
      ".nyc_output"
      "documentation"
      "coverage"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/ngeslin/Documents/www/"
    themes: [
      "ss-orca-ui"
      "SS-Orca-Syntax"
    ]
  docblockr:
    auto_add_method_tag: true
    extra_tags_go_after: true
    lower_case_primitives: true
  editor:
    fontSize: 11
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "dd53f269-1c01-911f-dd06-c480abce5c93"
  "file-icons":
    forceShow: true
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-selected": {}
  "js-hyperclick":
    extensions: [
      ".js"
      ".json"
      ".node"
      ".jsx"
    ]
  "language-babel":
    createMap: true
  linter:
    displayLinterStatus: false
    errorPanelHeight: 90
    gutterPosition: "Left"
    showErrorInline: false
    showErrorTabLine: true
    underlineIssues: false
  "linter-eslint":
    disableEslintIgnore: true
    disableFSCache: true
    eslintrcPath: "./"
    globalNodePath: "/Users/ngeslin/.node"
  "linter-rubocop":
    command: "/Users/ngeslin/.rvm/gems/ruby-2.2.2/bin/rubocop"
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "linter-write-good": {}
  "merge-conflicts": {}
  minimap:
    independentMinimapScroll: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "highlight-selected": false
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "one-dark-ui":
    layoutMode: "Compact"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "project-manager":
    closeCurrent: true
    sortBy: "title"
  react: {}
  "spell-check": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "terminal-plus":
    core: {}
    style:
      defaultPanelHeight: "75px"
      fontSize: "10px"
  "todo-show":
    findTheseTodos: [
      "FIXME"
      "TODO"
      "CHANGED"
      "XXX"
      "IDEA"
      "HACK"
      "NOTE"
      "REVIEW"
      "deprecated"
      "DEPRECATED"
    ]
    ignoreThesePaths: [
      "**/node_modules/*"
      "**/build/*"
      "**/coverage/*"
      "**/.nyc_output/*"
    ]
    sortAscending: false
    sortBy: "Type"
  "travis-ci-status": {}
  "tree-view":
    squashDirectoryNames: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".coffee.jsx.source":
  editor:
    preferredLineLength: 120
".html.ruby.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".ini.source":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.rails.source source.jquery.js":
  editor:
    preferredLineLength: 120
    tabLength: 4
".puppet.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".rails.rjs.ruby.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".rails.ruby.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".rspec.ruby.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".ruby.source.sql":
  editor:
    preferredLineLength: 120
    tabLength: 4
