packages: [
  "autocomplete-js-import"
  "bottom-dock"
  "busy-signal"
  "docblockr"
  "editorconfig"
  "emmet"
  "fast-eslint"
  "file-icons"
  "git-blame"
  "git-control"
  "git-time-machine"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "js-hyperclick"
  "json-converter"
  "jsonlint"
  "language-babel"
  "language-elm"
  "language-fsharp"
  "language-rspec"
  "line-diff-details"
  "linter"
  "linter-eslint"
  "linter-jsonlint"
  "linter-less"
  "linter-package-json-validator"
  "linter-rubocop"
  "linter-shellcheck"
  "linter-stylelint"
  "linter-ui-default"
  "linter-write-good"
  "merge-conflicts"
  "no-compromise-ui"
  "open-recent"
  "package-sync"
  "pigments"
  "pretty-json"
  "project-manager"
  "rails-rspec"
  "rails-snippets"
  "react"
  "rspec-snippets"
  "rubocop-auto-correct"
  "spacegray-dark-ui"
  "SS-Orca-Syntax"
  "ss-orca-ui"
  "ss-sea-turtle-ui"
  "tabs-to-spaces"
  "todo-show"
  "tree-view-copy-relative-path"
  "vim-mode"
  "vim-mode-plus"
  "zentabs"
]
