packages: [
  "autocomplete-js-import"
  "docblockr"
  "editorconfig"
  "emmet"
  "expose"
  "file-icons"
  "git-blame"
  "git-control"
  "git-time-machine"
  "highlight-selected"
  "hyperclick"
  "imdone-atom"
  "imdone-atom-github"
  "js-hyperclick"
  "json-converter"
  "language-babel"
  "language-fsharp"
  "language-puppet"
  "language-rspec"
  "line-diff-details"
  "linter"
  "linter-eslint"
  "linter-jsonlint"
  "linter-package-json-validator"
  "linter-puppet-lint"
  "linter-rubocop"
  "linter-shellcheck"
  "linter-write-good"
  "merge-conflicts"
  "minimap"
  "minimap-highlight-selected"
  "open-recent"
  "package-sync"
  "pigments"
  "pretty-json"
  "project-manager"
  "rails-rspec"
  "rails-snippets"
  "react"
  "rspec-snippets"
  "rubocop-auto-correct"
  "SS-Orca-Syntax"
  "ss-orca-ui"
  "tabs-to-spaces"
  "terminal-plus"
  "todo-show"
  "travis-ci-status"
  "tree-view-copy-relative-path"
  "vim-mode"
]
