packages: [
  "2-dark-syntax"
  "afterglow-like"
  "an-old-hope-syntax"
  "autocomplete-js-import"
  "docblockr"
  "editorconfig"
  "emmet"
  "expose"
  "file-icons"
  "git-control"
  "git-time-machine"
  "highlight-selected"
  "hyperclick"
  "imdone-atom"
  "imdone-atom-github"
  "js-hyperclick"
  "json-converter"
  "language-babel"
  "language-fsharp"
  "language-puppet"
  "language-rspec"
  "linter"
  "linter-eslint"
  "linter-jsonlint"
  "linter-package-json-validator"
  "linter-puppet-lint"
  "linter-rubocop"
  "linter-write-good"
  "merge-conflicts"
  "minimap"
  "minimap-bookmarks"
  "minimap-highlight-selected"
  "new-moon-atom-syntax"
  "newton-dark-ui"
  "northem-dark-atom-syntax"
  "northem-dark-atom-ui"
  "one-sharp-syntax"
  "outlander-syntax"
  "package-sync"
  "photon-syntax"
  "pretty-json"
  "project-manager"
  "rails-rspec"
  "rails-snippets"
  "react"
  "rspec-snippets"
  "rubocop-auto-correct"
  "seti-ui"
  "ss-orca-syntax"
  "ss-orca-ui"
  "tabs-to-spaces"
  "terminal-plus"
  "todo-show"
  "travis-ci-status"
  "vim-mode"
]
