[
  {
    title: "JS.nat.fullStack"
    paths: [
      "/Users/ngeslin/Documents/www/JS.nat.fullStack"
    ]
  }
  {
    title: "INFOR.web.r1"
    paths: [
      "/Users/ngeslin/Documents/www/INFOR.web.r1"
    ]
  }
  {
    title: "ss-orca"
    paths: [
      "/Users/ngeslin/Dropbox/Apps/Atom/syntax/ss-orca-syntax"
      "/Users/ngeslin/Dropbox/Apps/Atom/ui/ss-orca-ui"
      "/Users/ngeslin/Dropbox/Apps/Atom/ui/ss-sea-turtle-ui"
    ]
  }
  {
    title: "ss-octopus"
    paths: [
      "/Users/ngeslin/Documents/www/ss-octopus"
    ]
  }
  {
    title: "ss-blue-whale"
    paths: [
      "/Users/ngeslin/Documents/www/ss-blue-whale/BlueWhale-api"
      "/Users/ngeslin/Documents/www/ss-blue-whale/BlueWhale-ui"
    ]
  }
  {
    title: "Dotfiles"
    paths: [
      "/Users/ngeslin/dotfiles"
    ]
  }
  {
    title: "INFOR.web.develop"
    paths: [
      "/Users/ngeslin/Documents/www/INFOR.web.develop"
    ]
  }
  {
    title: "INFOR.styleguide"
    paths: [
      "/Users/ngeslin/Documents/www/INFOR.styleguide"
    ]
  }
  {
    title: "Atc"
    paths: [
      "/Users/ngeslin/Documents/www/atc"
    ]
  }
  {
    title: "INFOR.styleguide-react-bootstrap"
    paths: [
      "/Users/ngeslin/Documents/www/INFOR.styleguide-react-bootstrap"
    ]
  }
  {
    title: "Openscope"
    paths: [
      "/Users/ngeslin/Documents/www/openscope"
    ]
  }
  {
    title: "SIERRA.TeamSpace"
    paths: [
      "/Users/ngeslin/Documents/www/SIERRA.TeamSpace"
    ]
  }
  {
    title: "CARGILL"
    paths: [
      "/Users/ngeslin/Documents/www/CARGILL"
    ]
  }
]
