"js.nat.fullstack":
  title: "JS.nat.fullStack"
  paths: [
    "/Users/ngeslin/Documents/www/JS.nat.fullStack"
  ]
"infor.web":
  title: "INFOR.web"
  paths: [
    "/Users/ngeslin/Documents/www/INFOR.web"
  ]
"ss-orca":
  title: "ss-orca"
  paths: [
    "/Users/ngeslin/Dropbox/Apps/Atom/syntax/ss-orca-syntax"
    "/Users/ngeslin/Dropbox/Apps/Atom/ui/ss-orca-ui"
  ]
"ss-octopus":
  title: "ss-octopus"
  paths: [
    "/Users/ngeslin/Documents/www/ss-octopus"
  ]
"ss-blue-whale":
  title: "ss-blue-whale"
  paths: [
    "/Users/ngeslin/Documents/www/ss-blue-whale/BlueWhale-api"
    "/Users/ngeslin/Documents/www/ss-blue-whale/BlueWhale-ui"
  ]
nerdresturant:
  title: "Nerd Resturant"
  paths: [
    "/Users/ngeslin/Documents/www/nerd_resturant"
  ]
